version: "3.9"
services:
  db:
    image: postgres:15-alpine
    container_name: pg-ecommerce
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: ecommerce
      POSTGRES_PASSWORD: ecommerce
    ports:
      - "5433:5432" # host:container
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ecommerce -d ecommerce"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: adminer-ecommerce
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  pg-data:
